<!DOCTYPE html>
<html lang="es">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Landing Page </title>
    <link rel="stylesheet" href="/css/estilos.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:200,300,400,500&display=swap" rel="stylesheet">
    
  <link rel="stylesheet" href="plugin/components/Font Awesome/css/font-awesome.min.css">
     <link rel="stylesheet" href="plugin/whatsapp-chat-support.css">

</head>


<body>
    <header class="hero">
        <div class="textos-hero">
            <h2>Bienvenido A Caritas Felices </h2>
            <p>Formando con Amor</p>
            <a href="#contacto">Contactenos</a>
        </div>
        <div class="svg-hero" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
                style="height: 100%; width: 100%;">
                <path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                    style="stroke: none; fill: #fff;"></path>
            </svg></div>
    </header>


    <section class="wave-contenedor website">
        <img src="/img/ilustracion1.jpg" alt="">
        <div class="contenedor-textos-main">
            <h2 class="titulo left">QUIENES SOMOS</h2>
            <p class="parrafo"> Caritas Felices es un centro pedagógico que se fundó hace 30 años en una comunidad de bajos recursos en la ciudad de medellin . La idea de crear este centro surgió de un grupo de voluntarios comprometidos con mejorar la calidad de vida de los niños y jóvenes de la comunidad a través de la educación.

Desde entonces, Caritas Felices se ha enfocado en brindar educación a niños y jóvenes de bajos recursos, proporcionando herramientas para que puedan tener un mejor futuro y mejorar su calidad de vida. El centro ofrece una variedad de programas educativos para diferentes edades, desde educación preescolar hasta educación secundaria.

El enfoque pedagógico de Caritas Felices es integral y se enfoca en desarrollar habilidades sociales, emocionales, cognitivas y físicas de los estudiantes. Además, se trabaja en estrecha colaboración con los padres de familia y la comunidad para asegurarse de que los estudiantes reciban apoyo en todas las áreas de sus vidas.

El centro cuenta con un equipo de profesionales altamente capacitados, incluyendo docentes, psicólogos, trabajadores sociales y otros especialistas, quienes trabajan juntos para garantizar que los estudiantes tengan acceso a la mejor educación posible.

Gracias a sus 30 años de experiencia, Caritas Felices se ha consolidado como un referente en la educación de niños y jóvenes de bajos recursos, y ha logrado mejorar significativamente la calidad de vida de muchos estudiantes y sus familias en la comunidad.</p>
            <a href="  " class="cta">Learn more</a>

        </div>
    </section>

    

    <section>
        <div class="contenedor2"></div>

                <img src="/img/A.jpg" alt="" >.

                <img src="/img/B.jpg" alt="" >
                
                <img src="/img/C.jpg" alt="" >
              
                <img src="/img/D.jpg" alt="">

                <img src="/img/E.jpg" alt="">
        

                  </div>
    </section>

   

    <footer id="contacto">
        <div class="contenedor">
            <h2 class="titulo">Contactenos</h2>
            <form action="https://formsubmit.co/chetesjuanbu@gmail.com" method="POST" id="contactForm"
                        data-sb-form-api-token="API_TOKEN" class="form">
                <input class="input"  type="text"   placeholder="Name"  name="nombre" class="form-control" id="name" type="text" data-sb-validations="required" for="name">

                <input class="input"  type="email" name="email" id="email" placeholder="Email" class="form-control"  type="text" data-sb-validations="required" for="email">
                
                <textarea  class="input" name="message" id="message" cols="30" rows="10" placeholder="Messages" class="form-control"  type="text" data-sb-validations="required" for="message"></textarea>
                <input class="input"  type="submit" value="Send">

        
            </form>
        </div>
    </footer>

    <script src="https://kit.fontawesome.com/c15b744a04.js" crossorigin="anonymous"></script>
 
 <!-- Button Whatsapp Structure -->
  <div class="whatsapp_chat_support wcs_fixed_right" id="button-w">
    <div class="wcs_button_label">
            Contáctanos
        </div>  
    <div class="wcs_button wcs_button_circle">
        <span class="fa fa-whatsapp"></span>
    </div>  
 
    <div class="wcs_popup">
        <div class="wcs_popup_close">
            <span class="fa fa-close"></span>
        </div>
        <div class="wcs_popup_header">
            <span class="fa fa-whatsapp"></span>
            <strong>Servicio De Atencion </strong>
            
            <div class="wcs_popup_header_description">¿Necesita ayuda? Chatea con nosotros en Whatsapp</div>

        </div>  
        <div class="wcs_popup_input" 
            data-number="573117109577"
            data-availability='{ "monday":"07:00-22:30", "tuesday":"07:00-22:30", "wednesday":"07:7030-22:30", "thursday":"07:00-22:30", "friday":"07:00-22:30", "saturday":"09:00-18:30", "sunday":"09:00-22:30" }'>
            <input type="text" placeholder="Escribir pregunta!" />
            <i class="fa fa-play"></i>
        </div>
        <div class="wcs_popup_avatar">
            
        </div>
    </div>
</div>


    <!-- jQuery 1.8+ -->
<script src="plugin/components/jQuery/jquery-1.11.3.min.js"></script>
    <!-- Plugin JS file -->
<script src="plugin/components/moment/moment.min.js"></script>
<script src="plugin/components/moment/moment-timezone-with-data.min.js"></script> <!-- spanish language (es) -->
<script src="plugin/whatsapp-chat-support.js"></script>
<script>
   $('#button-w').whatsappChatSupport({
        defaultMsg : '',
    });
</script>

</body>

</html>

<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <style>
    body {margin:0;}
  
    #barraInferior {
    overflow: hidden;
    width: 100%;
    }
    
    #barraInferior ul {
        list-style-type: none;
        margin: 0 auto;
        padding-left: 30% ;
        overflow: hidden;
        background-color: #333;
        position: fixed;
        bottom: 0;
        width: 100%;
        
    }
    
    #barraInferior li {
        float: left;
        
    }
    
    #barraInferior li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    
    #barraInferior li a:hover{
        background-color: #111;
    }
    
    #barraInferior li a:active{
        background-color:#4CAF50;
    }
  </style>
</head>

<body>
  <div id="barraInferior">
    <ul>
      <li id="masZoom"><a href="/login">LOGIN </a></li>
      <li id="menosZoom"><a href="https://drive.google.com/file/d/1asxUUgYfQ8SqlfSH-H6lMRRv4c1g2WGn/view?usp=sharing">PENSUM</a></li>
      <li id="cambiarcontraste"> <a href="#contact"></a></li>
      <li id="cambiarImagenes"><a href="#contact"></a></li>
      <li id="visionarInforme"><a href="#about"></a></li>
      
    </ul>
    
  </div>
  
</body>

</html>
