<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guarderia</title>

    <link rel="stylesheet" href="/css/estilos2.css">

    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
</head>

<body id="body">

    <header>
        <div class="icon__menu">
            <i class="fas fa-bars" id="btn_open"></i>
        </div>
    </header>

    <div class="menu__side" id="menu_side">

        <div class="name__page">


            <h1>Guarderia</h1>


        </div>

        <div class="options__menu">

            <a href="/links/indexest" class="selected">
                <div class="option">
                    <i class="fas fa-home" title="Inicio"></i>
                    <h4>Home</h4>
                </div>
            </a>

            <a href="/links/adminpanel">
                <div class="option">
                    <i class="far fa-file" title="Courses Lists"></i>
                    <h4>Group Lists</h4>
                </div>
            </a>


            <a href="/logout">
                <div class="option">
                    <i class="far fa-id-badge" title="Contacto"></i>
                    <h4>Exit</h4>
                </div>
            </a>
        </div>
        </a>

    </div>

    </div>

    <main>
        <div class="card mb-10 p-4">
            <form method="post" action="/links/admin/grupo">
                <div class="input-group mb-3">
                    <label class="input-group-text" for="inputGroupSelect01">Teachers</label>
                    <select class="btn btn-default dropdown-toggle" id="inputGroupSelect01" name="profesor" required>
                        <option value="">Select teacher</option>
                        {{#each profesores}}
                        <option value={{cedula}}>{{nombre}}</option>
                        {{/each}}
                    </select>
                    <label class="input-group-text" for="inputGroupSelect01">Course</label>
                    <select class="btn btn-default dropdown-toggle" id="inputGroupSelect01" name="asignatura" required>
                        <option value="">Select course</option>
                        {{#each asignaturas}}
                        <option value={{id_asig}}>{{nombre}}</option>
                        {{/each}}
                    </select>

                    <div class="input-group mb-3">
                        <label class="input-group-text m-2" for="inputGroupSelect01">Start day</label>
                        <select class="btn btn-default dropdown-toggle" id="inputGroupSelect01" name="fecha_inicio" required>
                            <option value="">Select day</option>
                            <option value="MONDAY">MONDAY</option>
                            <option value="TUESDAY">TUESDAY</option>
                            <option value="WEDNESDAY">WEDNESDAY</option>
                            <option value="THURSDAY">THURSDAY</option>
                            <option value="FRIDAY">FRIDAY</option>
                        </select>

                        <label class="input-group-text m-2" for="inputGroupSelect01">Finish day</label>
                        <select class="btn btn-default dropdown-toggle" id="inputGroupSelect01" name="fecha_inicio">
                            <option value="">Select day</option>
                            <option value="MONDAY">MONDAY</option>
                            <option value="TUESDAY">TUESDAY</option>
                            <option value="WEDNESDAY">WEDNESDAY</option>
                            <option value="THURSDAY">THURSDAY</option>
                            <option value="FRIDAY">FRIDAY</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="HORA_INICIO">Start time:</label>
                        <input type="time" class="form-control" id="ejemplo_email_1" placeholder="" name="hora_inicio" required>

                        <label for="HORA_FIN">Finish time:</label>
                        <input type="time" class="form-control" id="ejemplo_email_1" placeholder="" name="hora_final" required>
                    </div>

                    <input type="submit" value="Add Group" class="btn btn-success btn-block m-3">
            </form>
        </div>

    </main>

    <script src="/js/script.js"></script>
</body>

</html>