<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport"
        content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=3.0, minimum-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="stylesheet" href="/css/login.css">


</head>

<body>
    <form class="formulario" action="/login" method="post">
        <a href="/">
            <div style="text-align: center;">
                <img src="/img/logo_1.png" width="350" height="350">
              </div>
        </a>   
     <div class="contenedor" style="text-align: center;">    
        <h1>Login</h1>
         <div class="input-contenedor">
         <i class="fas fa-envelope icon"></i>
         <input type="text" placeholder="Username" name="username" required>
         
         </div>
         
         <div class="input-contenedor">
        <i class="fas fa-key icon"></i>
         <input type="password" placeholder="Password" name="password" required>
         
         </div>
         <input type="submit" value="Login" class="button">
         <p>Al iniciar sesión, acepta nuestros Términos de uso y Política de privacidad.</p>
         
     </div>
    </form>
</body>

</html>

</html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <style>
    body {
      margin: 0;
    }

    #barraInferior {
      overflow: hidden;
      width: 100%;
      background-color: #333;
      position: fixed;
      bottom: 0;
    }

    #barraInferior ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
    }

    #barraInferior li {
      margin: 0;
    }

    #barraInferior li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }

    #barraInferior li a:hover {
      background-color: #111;
    }

    #barraInferior li a:active {
      background-color: #4CAF50;
    }
  </style>
</head>

<body>
  <div id="barraInferior">
    <ul>
      
      <li><a href="https://drive.google.com/file/d/1fXAqjFKaJRD95Sbo1djFY-ec1bLCsgW_/view?usp=sharing" target="_blank">PENSUM</a></li>
      <li><a href="https://drive.google.com/file/d/1RXfkmxbRmlpo3jMJqHEVHdh8q8iSc4Lb/view?usp=sharing">REFIGERIO SEMANAL</a></li>
      <li><a href="https://www.youtube.com/watch?v=uLUye2W4irM">NUESTRAS INSTALACIONES</a></li>
      
    </ul>
  </div>
</body>

</html>